<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="StartPointPath" value="D:\useful staff\trip"/>
    <add key="ExtensionToFilterBy" value=".pdf"/>
    <add key="FileToSkip" value="bonusprnt.php"/>
    <add key="DirectoryToStop" value="tickets"/>
  </appSettings>
</configuration>